SA_Base.framework/
SA_Base Library/
Build/
.DS_Store
SABase.xcodeproj/project.xcworkspace/xcuserdata/ben.xcuserdatad/UserInterfaceState.xcuserstate
DerivedData/
/SABase.xcodeproj/project.xcworkspace/xcuserdata/cjc.xcuserdatad/
/SABase.xcodeproj/xcuserdata/cjc.xcuserdatad/
/SABase.xcodeproj/project.xcworkspace/xcshareddata/