<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build Combined Library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Run-Time Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SABase_Device.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SABase_Simulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Unit Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B502608F11CC68DE00417EA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B50260BA11CC68FC00417EA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B50261D611CD233E00417EA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5E39B71123BA9EE00FC1FE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AAC07D0554694100DB518D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
